/** LATO **/
@font-face {
  font-family: 'latoblack';
  src: url('../fonts/Lato/lato-black-webfont.woff2') format('woff2'),
  url('../fonts/Lato/lato-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'latoblack_italic';
  src: url('../fonts/Lato/lato-blackitalic-webfont.woff2') format('woff2'),
  url('../fonts/Lato/lato-blackitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'latobold';
  src: url('../fonts/Lato/lato-bold-webfont.woff2') format('woff2'),
  url('../fonts/Lato/lato-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'latobold_italic';
  src: url('../fonts/Lato/lato-bolditalic-webfont.woff2') format('woff2'),
  url('../fonts/Lato/lato-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latoitalic';
  src: url('../fonts/Lato/lato-italic-webfont.woff2') format('woff2'),
  url('../fonts/Lato/lato-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latolight';
  src: url('../fonts/Lato/lato-light-webfont.woff2') format('woff2'),
  url('../fonts/Lato/lato-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latolight_italic';
  src: url('../fonts/Lato/lato-lightitalic-webfont.woff2') format('woff2'),
  url('../fonts/Lato/lato-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latoregular';
  src: url('../fonts/Lato/lato-regular-webfont.woff2') format('woff2'),
  url('../fonts/Lato/lato-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latohairline';
  src: url('../fonts/Lato/lato-thin-webfont.woff2') format('woff2'),
  url('../fonts/Lato/lato-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latohairline_italic';
  src: url('../fonts/Lato/lato-thinitalic-webfont.woff2') format('woff2'),
  url('../fonts/Lato/lato-thinitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/** OPEN SANS **/
@font-face {
  font-family: 'open_sansbold';
  src: url('../fonts/Open_Sans/opensans-bold-webfont.woff2') format('woff2'),
  url('../fonts/Open_Sans/opensans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansbold_italic';
  src: url('../fonts/Open_Sans/opensans-bolditalic-webfont.woff2') format('woff2'),
  url('../fonts/Open_Sans/opensans-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansextrabold';
  src: url('../fonts/Open_Sans/opensans-extrabold-webfont.woff2') format('woff2'),
  url('../fonts/Open_Sans/opensans-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansextrabold_italic';
  src: url('../fonts/Open_Sans/opensans-extrabolditalic-webfont.woff2') format('woff2'),
  url('../fonts/Open_Sans/opensans-extrabolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansitalic';
  src: url('../fonts/Open_Sans/opensans-italic-webfont.woff2') format('woff2'),
  url('../fonts/Open_Sans/opensans-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight';
  src: url('../fonts/Open_Sans/opensans-light-webfont.woff2') format('woff2'),
  url('../fonts/Open_Sans/opensans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight_italic';
  src: url('../fonts/Open_Sans/opensans-lightitalic-webfont.woff2') format('woff2'),
  url('../fonts/Open_Sans/opensans-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/Open_Sans/opensans-regular-webfont.woff2') format('woff2'),
  url('../fonts/Open_Sans/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold';
  src: url('../fonts/Open_Sans/opensans-semibold-webfont.woff2') format('woff2'),
  url('../fonts/Open_Sans/opensans-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold_italic';
  src: url('../fonts/Open_Sans/opensans-semibolditalic-webfont.woff2') format('woff2'),
  url('../fonts/Open_Sans/opensans-semibolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}